{
  "extends": [
    "airbnb-base",
    "eslint-config-prettier",
    "prettier"
  ],
  "rules": {
    "comma-dangle": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ]
  },
  "env":{
    "mocha": true
  },
  "plugins": [
    "eslint-plugin-prettier",
    "prettier"
  ]
}